.main-content {
  max-width: 1200px;
  margin: 24px auto;
  padding: 0 16px;
  min-height: calc(100vh - 64px - 48px);
}

@media (max-width: 600px) {
  .main-content {
    margin: 16px auto;
    padding: 0 8px;
  }
}
